.detail_body {
    background-color: white;
}
.main-content {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    overflow-x: hidden;
}
.primary_description {
    background-color: #eeeeee;
    width: 100%;
    padding: 15px;
    padding-bottom: 0px;
}
.company_description {
    background-color: #eeeeee;
    padding-left: 15px;
    padding-bottom: 15px;
    border-top: 0px dashed #eeeeee;
    border-bottom: 1px dashed black;
    border-left: 0px dashed #eeeeee;
    border-right: 0px dashed #eeeeee;
}
.company_description img {    
    line-height: 0;
    /* A one-second transition was to disturbing for me */
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -moz-border-radius: 35px;
    border-radius: 35px;
    height: 50px;
    width: 50px;
}
.company_description img:hover {
    /* Making images appear bigger and transparent on mouseover */
    
    opacity: 1;
  transform: scale(2, 2);

}

.detailed_description {
    background-color: white;
    width: 100%;
    padding: 15px;
}